# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
env/
venv/

# Node / JS
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist
dist/
build/
coverage/
.next/
frontend/client/dist/
frontend/dist/

# Editor
.idea/
.vscode/

# Env / secrets
.env
.env.*

# Docker
*.pid
